.list {
  grid-area: list;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-title {
  margin: 1% 5%;
  align-self: flex-start;
  font-family: "Caveat", cursive;
  font-size: 2em;
  color: #212325;
  /* text-shadow: 1px 1px #868b8b; */
}
.item {
  width: 90%;
  height: 3.5em;
  margin: 10px 0;
  padding: 0 10px;
  background-color: #afb4b441;
  display: flex;
  align-items: center;
  opacity: 0.8;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Playball", cursive;
  position: relative;
}
.doing {
  /* flex-grow: 10; */
  font-size: 1.6em;
  color: #fcfcfc;
  font-size: 1.6rem;
  min-width: 50%;
}
.edit-box {
  flex-grow: 2;
  height: 35px;
  font-size: 1.4em;
  border-radius: 15px 0 0 15px;
  opacity: 0.4;
  color: rgb(182, 48, 75);
  font-family: "Playball", cursive;
  outline: none;
  padding-left: 10px;
}
.tik {
  background-color: rgba(253, 252, 252, 0.349);
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  height: 35px;
  border: none;
  border-left: 2px solid rgb(203, 204, 202);
  outline: none;
}
.fa-check {
  color: #20d408;
  font-size: 1.6em;
}
.edit {
  background-color: rgba(253, 252, 252, 0.349);
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  height: 35px;
  border: none;
  outline: none;
}
.fa-edit {
  color: rgb(46, 30, 153);
  font-size: 1.6em;
}
.done {
  grid-area: done;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete {
  flex-grow: 1;
  background-color: rgba(253, 252, 252, 0.349);
  cursor: pointer;
  text-align: center;
  height: 40px;
  min-width: 50px;
  position: absolute;
  right: 10px;
}
.fa-trash-alt {
  font-size: 1.6em;
}
